@font-face {
  font-family: "Jakarta-Bold";
  src: url("/public/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Jakarta-Regular";
  src: url("/public/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}

body {
  justify-content: center;
}

.base-lab {
  width: 100%;
  height: auto;
}
.sub-heading-lab {
  font-size: 54px;
  font-family: "Jakarta-Bold";
  background: linear-gradient(90deg, #ddd -2.88%, #0089d4 101.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
  text-align: center;
}

.heading-lab {
  font-size: 24px;
  font-family: "Jakarta-Bold";
  background: linear-gradient(270deg, white, #009bd8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 36px;
  text-align: center;
}

.bodycopy-lab {
  font-family: "Jakarta-Regular";
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 36px;
  line-height: 1;
}
.center {
  margin-left: 72px;
  margin-right: 128px;
}

.lab-box-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px){
  .base-lab {
  max-width: 768px;
  height: auto;
} 
  .heading-lab{
    width: 100%;
    height: auto;
    font-size: 14px;
    margin-right: 15px;
  }
  .sub-heading-lab{
    font-size: 34px;
  }

 .bodycopy-lab {
  font-family: "Jakarta-Regular";
  color: white;
  font-size: 16px;
  text-align: justify; /* 👈 membuat teks rata kanan kiri */
  margin: 36px auto;    /* 👈 margin atas-bawah 36px, kiri-kanan auto (untuk center container) */
  line-height: 1.6;
  width: 80%;           /* 👈 jangan terlalu sempit */
  max-width: 600px;     /* 👈 batas atas agar tetap bagus di layar besar */
}

  .center {
  margin-left: 20px;
  margin-right: 20px;
}
  .lab-box-row{
    max-width: 768px;
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

}
