@font-face {
	font-family: "Jakarta-Bold";
	src: url("/public/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Jakarta-Regular";
	src: url("/public/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}

.introbase {
	background-color: white;
	/*background-image: url('./img/Background.png');*/
	padding-top: 35px;
	padding-bottom: 200px;
}
.heading {
	font-size: 54px;
	font-family: "Jakarta-Bold";
	margin: 48px;
	color: black;
	margin-top: 0;
}

.bodycopy-landing {
	width: 558px;
	height: 158px;
	flex-shrink: 0;
	font-family: "Jakarta-Regular";
	color: black;
	font-size: 20px;
	margin: 48px;
	line-height: 30px;
	margin-right: 116px;
	text-align: justify;
}

.row-container {
	justify-content: center;
	align-items: left;
	display: flex;
	flex-direction: row;
	margin-top: 124px;
}

.aboutus-img {
	width: 630px;
  	height: 430px;
	border-radius: 32px;
	object-fit: cover;
}

.viewmore {
	width: 172px;
	height: 33px;
	flex-shrink: 0;
	border-radius: 8px;
	border: 2px solid #0781c4;
	background-color: transparent;
	color: #0781c4;
	font-family: Plus Jakarta Sans;
	font-size: 20px;
	font-style: italic;
	font-weight: 500;
	line-height: normal;
	margin-left: 48px;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	transition: opacity 0.3s;
}

.text-bold {
	font-family: "Jakarta-Bold";
}

@media screen and (max-width: 768px) {
  /*.introbase {
    padding: 24px 8px;
  }*/

  .row-container {
	justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
  }

  .heading {
    font-size: 32px;
    margin: 16px 0;
	margin-right: 10px;
    text-align: center;
  }

  .bodycopy-landing {
    width: 80%;
	height: auto;
    font-size: 14px;
    line-height: 28px;
    margin-left: 18px;
    padding: 16px 8px 0px 16px;
    text-align: center;
  }

  .aboutus-img {
    width: 90%;
    height: 90%;
    border-radius: 16px;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .viewmore {
	width: 25%;
	height: 50%;
    display: block;
	border-radius: 12px;
    font-size: 14px;
    margin: 16px auto;
    padding: 8px 16px;
    text-align: center;
  }
}

