@font-face {
  font-family: "Jakarta-Bold";
  src: url("/public/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Jakarta-Regular";
  src: url("/public/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Jakarta-Italic";
  src: url("/public/fonts/PlusJakartaSans-Italic.ttf") format("truetype");
}
.lab-box {
  width: 500px;
  height: 400px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  margin: 32px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  /* margin-left: 24px; */
  margin-top: 0;
}
.text-bold {
  color: white;
  font-family: "Jakarta-Bold";
  width: 450px;
  font-size: 26px;
  margin-bottom: 8px;
  /* margin-bottom: 16px; */
}
.text-regular {
  color: white;
  font-family: "Jakarta-Regular";
  font-size: 14px;
  width: 400px;
  line-height: 24px;
  text-align: justify;
}

.text-italic-more {
  color: white;
  font-family: "Jakarta-Italic";
  font-size: 14px;
  width: 280px;
  line-height: 1.5;
  margin-top: 15px;
}

.icon-placeholder {
  width: 72px;
  height: 72px;
  object-fit: scale-down;
  /* margin-bottom: 18px; */
}

.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}

.atasbawah {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-placement{
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px){
  .lab-box{
    width: 70%;
    height: auto;
    flex-direction: column;
    margin-left: 42px;
  }
  .atasbawah{

  }
  .text-bold {
  color: white;
  font-family: "Jakarta-Bold";
  width: auto;
  font-size: 24px;
  margin-bottom: 8px;
  /* margin-bottom: 16px; */
}
.text-regular {
  color: white;
  font-family: "Jakarta-Regular";
  font-size: 12px;
  width: auto;
  line-height: 24px;
  text-align: justify;
}

.text-italic-more {
  color: white;
  font-family: "Jakarta-Italic";
  font-size: 12px;
  width: 280px;
  line-height: 1.5;
  margin-top: 15px;
}

.icon-placeholder {
  width: 60px;
  height: 60px;
  object-fit: scale-down;
  /* margin-bottom: 18px; */
}

}
