@font-face {
  font-family: "Jakarta-Bold";
  src: url("/public/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Jakarta-Regular";
  src: url("/public/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Jakarta-Italic";
  src: url("/public/fonts/PlusJakartaSans-Italic.ttf") format("truetype");
}
.lab-box {
  width: 90%;
  /*max-width: 800px;*/
  height: auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  margin: 32px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  /* margin-left: 24px; */
  margin-top: 0;
}
.text-bold {
  color: white;
  font-family: "Jakarta-Bold";
  width: 100%;
  font-size: 26px;
  margin-bottom: 8px;
  /* margin-bottom: 16px; */
}
.text-regular {
  color: white;
  font-family: "Jakarta-Regular";
  font-size: 14px;
  width: 100%;
  line-height: 24px;
  text-align: justify;
}

.text-italic-more {
  color: white;
  font-family: "Jakarta-Italic";
  font-size: 14px;
  width: 100%;
  line-height: 1.5;
  margin-top: 15px;
}

.icon-placeholder {
  width: 72px;
  height: 72px;
  object-fit: scale-down;
  /* margin-bottom: 18px; */
}

.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}

.atasbawah {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-placement {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 24px 5px;
}


@media screen and (max-width: 768px){
  .lab-box{
    width: 90%;
    height: auto;
    padding: 16px;
    flex-direction: column;
  }
  
  .text-bold {
  color: white;
  font-family: "Jakarta-Bold";
  width: auto;
  font-size: 20px;
  margin-bottom: 8px;
  /* margin-bottom: 16px; */
}
.text-regular {
  color: white;
  font-family: "Jakarta-Regular";
  font-size: 12px;
  width: auto;
  line-height: 24px;
  text-align: justify;
}

.text-italic-more {
  color: white;
  font-family: "Jakarta-Italic";
  font-size: 12px;
  width: 100%;
  line-height: 1.5;
  margin-top: 15px;
}

.icon-placeholder {
  width: 60px;
  height: 60px;
  object-fit: scale-down;
  /* margin-bottom: 18px; */
}

.box-placement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  max-width: 600px;

}

}
