@font-face {
	font-family: "Jakarta-Regular";
	src: url("/public/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Jakarta-Semibold";
	src: url("/public/fonts/PlusJakartaSans-SemiBold.ttf") format("truetype");
}

.navbar {
	width: 100%;
}
.nav-base {
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.base-2 {
	display: flex;
	flex-direction: row;
	margin-right: 78px;
	justify-content: space-between;
	background: transparent;
}

a {
	text-decoration: underline;
}

.nav-list {
	margin-right: 32px;
	font-family: "Jakarta-Regular";
	color: white;
	text-decoration: none;
}
.nav-list-bold {
	margin-right: 32px;
	font-family: "Jakarta-SemiBold";
	color: white;
	text-decoration: none;
}
.navIcon {
	width: 256px;
	margin-top: 7px;
	margin-left: 78px;
}
.nav-list:hover {
  color: #0089d4;
  text-decoration: none;
}
.nav-list-bold:hover {
  color: #0089d4;
  text-decoration: none;
}



.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 14px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
}


.mobile-right {
  display: none;
  align-items: center;
  gap: 12px;
  margin-right: 24px;
}

/* Mobile Dropdown Menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #009bd8;
  padding: 12px 16px;
}

.mobile-menu a {
  color: #fff;
  text-decoration: none;
  padding: 8px 0;
  font-family: "Jakarta-Regular";
}



@media (max-width: 768px) {
  .base-2 {
    display: none;
  }

  .mobile-right {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .navIcon {
    width: 115px;
    margin-left: 16px;
  }

  .nav-base {
    padding: 8px 0;
  }

  .mobile-menu {
    display: flex;
  }


}
