@font-face {
  font-family: "Jakarta-Bold";
  src: url("/public/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Jakarta-Regular";
  src: url("/public/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Jakarta-SemiBold";
  src: url("/public/fonts/PlusJakartaSans-SemiBold.ttf") format("truetype");
}

body {
  background-color: rgb(14, 14, 14);
  
}
.welcome {
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
  height: auto;
}

.welcome-text {
  font-family: "Jakarta-Bold";
  background: linear-gradient(270deg, white, #009bd8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 96px;
  margin: 0px;
  text-align: center;
}

.welcome-detail-text {
  font-family: "Jakarta-Regular";
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.aboutus-button {
  border-color: transparent;
  color: white;
  background-color: #0781c4;
  font-family: "Jakarta-Regular";
  font-size: 24px;
  padding: 10px 32px 10px 32px;
  border-radius: 20px;
  margin-top: 32px;
  margin-bottom: 8px;
}

.aboutus-button:hover {
  background-color: #2699d6;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
}

.base-row {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  width: 500px;
  height: 500px;
}

.article-base {
  background-color: white;
}

.btowtext-h1 {
  background: linear-gradient(270deg, black, #009bd8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Jakarta-Bold";
  font-size: 64px;
  margin: 0;
}
.btowtext-h2 {
  background: linear-gradient(270deg, black, #009bd8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Jakarta-Bold";
  font-size: 32px;
  padding-top: 32px;
}

.article-head {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .base {
    max-width: 768px;
    padding: 0;
  }

  .welcome {
   max-width: 768px;
   height: auto;
}
  .welcome-text {
    font-size: 32px;
  }

  .welcome-detail-text {
    font-size: 16px;
    padding: 0 16px;
  }

  .aboutus-button {
    font-size: 18px;
    padding: 8px 14px;
    margin-top: 14px;
    border-radius: 18px;
  }


  .icon {
    width: 100%;
    height: auto;
  }

  .btowtext-h1 {
    font-size: 36px;
  }

  .btowtext-h2 {
    font-size: 20px;
  }
}
